@media (min-width: 320px) and (max-width: 426px){
    .offcanvas{
        width: 50% !important;
    }
    .content{
        padding-top: 80px !important;
    }
    .content h1{
        display: flex;
        justify-content: center;
    }
    .content img{
        padding-bottom: 10px!important;
        width: 100%;
    }
    .description{
        margin-bottom: 20px;
    }
    .our-service .woman{
        padding: 10px!important;
        margin-top: 200px !important;
        margin-bottom: 20px !important;
    }
    .our-service .service-content{
        padding: 20px !important;
    }
    .faq-content h4{
        display: flex;
        justify-content: center;
    }
    .faq-content p{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .whyus-content{
        padding-left: 0px !important;
    }
    .whyus-content h4{
        padding-left: 0px !important;
        text-align: center;
    }
    .whyus-content p{
        text-align: center;
    }
    .why-us .row{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .why-us .card{
        margin-bottom: 10px !important;
        padding: 0 !important;
    }
    .testimonial .testimonial-content{
        text-align: center;
        padding-top: 10px!important;
        padding-left: 0px;
    }
    .testimonial-card .card{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .carousel-inner{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .rent-car{
        padding: 20px !important;
    }
    .rent-car .card{
        padding: 10px !important;
    }
    .faq .faq-content{
        padding: 10px !important;
    }
    
    .faq .faq-question{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .footer .address{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
} 

@media only screen and (max-width: 769px){
    .content{
        padding-top: 10px !important;
        background: #F1F3FF;
        width: 100%;
        height: 600px !important;
    }
    .content .description{
        padding: 50px !important;
    }
    .content .img-car{
        /* position: absolute; */
        width: 800px !important;
        height: 300px !important;
        display: flex !important;
        justify-content: flex-end;
        float: none;
        right: 0%;
    }
    .carousel-inner{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .why-us{
        padding: 0px !important;
    }
    .faq .faq-question{
        padding-right: 10px !important;
    }
    .footer .address{
        padding-left: 10px !important;
    }
}

.navbar{
    background: #F1F3FF !important;
}
.content{
    padding-top: 60px;
    background: #F1F3FF;
    width: 100%;
    height: 453px;
}
.content .description{
    padding: 100px;
}
.content .img-car{
    /* position: absolute; */
    width: 704px;
    height: 430px;
    right: 0%;
}
.our-service{
    width: 100%;
}
.our-service .woman{
    padding: 100px;
}
.our-service .service-content{
    padding: 100px;
}
.service-content img{
    margin-right: 10px;
}
.why-us .whyus-content{
    padding-left: 100px;
}
.why-us .card{
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0px;
}
.why-us .row{
    margin-left: 100px;
    margin-right: 100px;
}
.testimonial-content{
    padding-left: 100px;
    padding-top: 100px;
}
.carousel-inner{
    padding-left: 250px;
    padding-right: 250px;
}
.carousel-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.carousel-control{
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background: #5CB85F;
}
.carousel-control:hover{
    background: #F1F3FF;
}
.tombol-crsl {
    width: 15px;
    height: 15px;
}
.rent-car{
    padding: 100px;
    padding-left: -20px;
    margin-bottom: 20px;
}
.rent-car .card{
    background-color: #0D28A6;
    text-align: center;
    color: white;
    padding: 100px;
}
.faq .faq-content{
    padding-left: 100px;
}
.faq .faq-question{
    padding-right: 100px;
    padding-bottom: 50px;
}
.footer .address{
    padding-left: 100px;
}